*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    color: #142823;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

body section{
    display: flex;
    gap: 128px;
    margin-top: 39px;
}
.card{
    width: 245px;
    height: 291px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0 4px 20px 0 rgba(139, 139, 139, 0.10);
    position: relative;
    gap: 20px;
}
.model {
    color: #282828;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}
.blue_price{
    color: #106FDF;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}
.red_price{
    color: #DD152D;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}
.sales_info{
    position: absolute;
    top: -30px;
}