
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 40px solid red;
    border-bottom: 40px solid green;
    border-left: 40px solid blue;
    border-right: 40px solid yellow;
    animation: preloader 4s linear infinite alternate;
}

@keyframes preloader {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(-360deg) scale(2);;
    }
}