*{
    margin: 0;
}
.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 27vw 46vw 27vw;
    grid-template-rows: 22vh 56vh 22vh;
    grid-template-areas:
        "header header header"
        "left_aside main right_aside"
        "footer footer footer";
}
header{
    grid-area: header;
    background-color: #D9D9D9;
}
main{
    grid-area: main;
    background-color: #A4A4A4;
}
.left_aside{
    grid-area: left_aside;
    background-color: #C0BDBD;
}

.right_aside{
    grid-area: right_aside;
    background-color: #C0BDBD;
}
footer{
    grid-area: footer;
    background-color: #D9D9D9;
}
