
body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 40px
}

p {
    text-align: center;
    font-size: 25px
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 100px 40px 100px;
}

.box {
    width:270px;
    height:310px;
    background-color: rgba(211, 211, 211, 0.20);
    border: 2px solid darkgrey;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.box p{
    font-weight: bold;
    }

.box img {
    width: 180px;
    height: 180px;
}
